.todo-item {
  display: flex;
}
body {
  background-color: rgba(0, 0, 0, 0.9);
}
.status-todo {
  background-color: chartreuse;
  border-radius: 6px;
  padding: 4px;
}

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 3;
  display: none;
}

.modal-content {
  background-color: #1e1e1e;
  margin: 100px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 12px;
  color: white;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.todos {
  width: 20%;
  min-height: 80vh;
  background-color: #000;
  padding: 12px;
  border-radius: 12px;
  border: 0.5px solid grey;
}

.modal-content > input {
  padding: 6px;
}

select {
  height: 50px;
  width: 153px;
  margin: 10px;
  background-color: #1e1e1e;
  color: grey;
}

.container {
  top: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: end;
}

#btn-add-task {
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid green;
  width: 109px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-top: 10px;
}

.submit-btn {
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid green;
  width: 109px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-top: 10px;
}
img {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;

  bottom: 0;
  height: 20px;
  width: 20px;
  margin-left: 20px;
  line-height: 40px;
  text-align: right;
  font-size: 22px;
}
input {
  background-color: #1e1e1e;
  border: 1px solid grey;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
  background-color: #1e1e1e;
  border-radius: 5px;
}
.todo-item ::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
}
#todo-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.submit-btn:hover {
  border: 3px solid purple;
}
